#1. Write a code to reverse a string

In [ ]:
my_str = "Rizwan"
reverse = my_str[::-1] #code to reverse my string
print("Original:",my_str) #original
print("Reverse:",reverse) #reversed

Original: Rizwan
Reverse: nawziR

#2. Write a code to count the number of vowels in a string

In [ ]:
my_str = "My name is Syed Rizwan"
vowels = "AEIOUaeiou"
count = 0
for char in my_str:
  if char in vowels:
    count += 1
print("Number of vowels in string:",count)

Number of vowels in string: 6

#3. Write a code to check if a given string is a palindrome or not
**If string is Palindrome**

Example:

In [ ]:
my_str = "level"
if my_str == my_str[::-1]:
  print("The is a palindrome")
else:
  print("The is not a palindrome")

The is a palindrome

**If string is not a Palindrome**

Example:

In [ ]:
my_str = "rizwan"
if my_str == my_str[::-1]:
  print("The is a palindrome")
else:
  print("The is not a palindrome")

The is not a palindrome

#4. Write a code to check if two given strings are anagrams of each other
**If two given strings are anagrams of each other**

Example:

In [ ]:
str1 = "secure"
str2 = "rescue"

if sorted(str1) == sorted(str2):
  print("Two strings are anagrams of each other")
else:
  print("Two strings are not anagrams of each other")

Two strings are anagrams of each other

**If two given strings are not anagrams of each other**

Example:

In [ ]:
str1 = "secure"
str2 = "rizwan"

if sorted(str1) == sorted(str2):
  print("Two strings are anagrams of each other")
else:
  print("Two strings are not anagrams of each other")

Two strings are not anagrams of each other

#5. Write a code to find all occurrences of a given substring within another string

In [8]:
str1 = "My name is Rizwan"
str2 = "My name is Nitish"
str_occur = []

# Split each string into a list of words
words1 = str1.split()
words2 = str2.split()

# Loop through each word in str1 and check if it's also in str2
for word in words1:
    if word in words2 and word not in str_occur:
        str_occur.append(word)

print("Common words:", str_occur)

Common words: ['My', 'name', 'is']

 # 6. Write a code to perform basic string compression using the counts of repeated characters.

In [10]:
input_str = "Rrriiizzzwwannnn"
compressed_str = ""
count = 1

# Iterate through the string to count repeated characters
for i in range(1, len(input_str)):
    if input_str[i] == input_str[i - 1]:
        count += 1
    else:
        compressed_str += input_str[i - 1] + str(count)
        count = 1  # Reset count for the new character

# Add the last character and its count
compressed_str += input_str[-1] + str(count)

print("Compressed string:", compressed_str)

Compressed string: R1r2i3z3w2a1n4

 # 7. Write a code to determine if a string has all unique characters

In [15]:
my_str = "ABCACBCBADDDA"

# Check if the length of the set is the same as the length of the string
if len(set(my_str)) == len(my_str):
    print("All characters in the string are unique.")
else:
    print("The string has duplicate characters.")

The string has duplicate characters.

# 8. Write a code to convert a given string to uppercase or lowercase
**Converting into uppercase**

Example:

In [35]:
my_str = "Rizwan"
uppercase_str = my_str.upper()
print("Uppercase:",uppercase_str)

Uppercase: RIZWAN

**Converting into lowercase**

Example:

In [34]:
my_str = "RIZWAN"
uppercase_str = my_str.lower()
print("Lowercase:",uppercase_str)

Lowercase: rizwan

# 9. Write a code to count the number of words in a string

In [25]:
my_str = "My name is Rizwan"
split_string = my_str.split(" ")
word_count = len(split_string)  # Directly get the count of words

print("Number of words:", word_count)

#OR

my_str = "My name is Rizwan"
split_string = my_str.split(" ")
word_count = 0
for char in split_string:
  len(split_string)
  word_count += 1
print("Number of words:",word_count)

Number of words: 4
Number of words: 4

# 10. Write a code to concatenate two strings without using the + operator

In [37]:
str1 = "Syed"
str2 = "Rizwan"
result = " ".join([str1,str2])
print("Concatenated string:",result)

Concatenated string: Syed Rizwan

# 11. Write a code to remove all occurrences of a specific element from a list

In [44]:
my_list = [1,2,3,"Rizwan",4,3,3,3,3]

## Remove all occurrences of 3
while 3 in my_list:
  my_list.remove(3)
print("Updated list:",my_list)

Updated list: [1, 2, 'Rizwan', 4]

# 12. Implement a code to find the second largest number in a given list of integers

In [48]:
my_list = [10,40,20,25,22,15,26,12]
sorted_list = sorted(set(my_list))
second_largest = sorted_list[-2]

print(second_largest)

26

 # 13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values

In [50]:
my_list = ["Rizwan", "Rizwan", "Syed", "Syed", "Syed", "Hello"]
count_dict = {}

# Loop through each element in the list
for item in my_list:
    if item in count_dict:
        count_dict[item] += 1  # Increment count if the item is already in the dictionary
    else:
        count_dict[item] = 1   # Initialize count if the item is not in the dictionary

print("Occurrences dictionary:", count_dict)

Occurrences dictionary: {'Rizwan': 2, 'Syed': 3, 'Hello': 1}

# 14. Write a code to reverse a list in-place without using any built-in reverse functions

In [5]:
my_list = [1, 2, 3, 4, "Rizwan"]

# Swap elements from the start and end, moving towards the center
for i in range(len(my_list) // 2):
    my_list[i], my_list[-i - 1] = my_list[-i - 1], my_list[i]

print("Reversed list:", my_list)

Reversed list: ['Rizwan', 4, 3, 2, 1]

# 15. Implement a code to find and remove duplicates from a list while preserving the original order of elements

In [7]:
my_list = [1, 1, 2, 2, 2, 3, 3, 5, 5, 5, "Rizwan", "Rizwan"]
unique_list = []
seen = set()

for item in my_list:
    if item not in seen:
        unique_list.append(item)  # Add item to the result list if it hasn't been seen
        seen.add(item)  # Mark the item as seen

print("List with duplicates removed:", unique_list)

List with duplicates removed: [1, 2, 3, 5, 'Rizwan']

# 16. Create a code to check if a given list is sorted (either in ascending or descending order) or not

In [8]:
my_list = [1, 2, 3, 4, 5]

# Check for ascending or descending order
if my_list == sorted(my_list):
    print("The list is sorted in ascending order.")
elif my_list == sorted(my_list, reverse=True):
    print("The list is sorted in descending order.")
else:
    print("The list is not sorted.")

The list is sorted in ascending order.

 # 17. Write a code to merge two sorted lists into a single sorted list

In [9]:
list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]

merged_list = sorted(list1 + list2)
print("Merged sorted list:", merged_list)

Merged sorted list: [1, 2, 3, 4, 5, 6, 7, 8]

# 18. Implement a code to find the intersection of two given lists

In [13]:
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]

intersection = [item for item in list1 if item in list2]
print("Intersection:", intersection)

Intersection: [3, 4]

# 19. Create a code to find the union of two lists without duplicates

In [14]:
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]

union = list(set(list1 + list2))
print("Union without duplicates:", union)

Union without duplicates: [1, 2, 3, 4, 5, 6]

# 20. Write a code to shuffle a given list randomly without using any built-in shuffle functions

In [48]:
my_list = [1, 2, 3, 4, 5]

# Simple random shuffle without built-in functions
for i in range(len(my_list) - 1, 0, -1):
    # Generate a random index by calculating it in a basic way
    swap_index = (i * 3 + 1) % len(my_list)  # This is a basic form of randomness
    # Swap elements at the current index and the random index
    my_list[i], my_list[swap_index] = my_list[swap_index], my_list[i]

print("Shuffled list:", my_list)

Shuffled list: [5, 4, 3, 1, 2]

# 21. Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples

In [16]:
tuple1 = (1, 2, 3, 4)
tuple2 = (3, 4, 5, 6)

common_elements = tuple(set(tuple1) & set(tuple2))
print("Common elements:", common_elements)

Common elements: (3, 4)

# 22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets

In [17]:
set1 = set(map(int, input("Enter integers for set 1 separated by commas: ").split(',')))
set2 = set(map(int, input("Enter integers for set 2 separated by commas: ").split(',')))

intersection = set1 & set2
print("Intersection:", intersection)

Enter integers for set 1 separated by commas: 2,3,4,5,6
Enter integers for set 2 separated by commas: 1,2,3,5,7,8
Intersection: {2, 3, 5}

# 23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [18]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

concatenated_tuple = tuple1 + tuple2
print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

# 24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set

In [19]:
set1 = set(input("Enter strings for set 1 separated by spaces: ").split())
set2 = set(input("Enter strings for set 2 separated by spaces: ").split())

difference = set1 - set2
print("Elements in set 1 but not in set 2:", difference)

Enter strings for set 1 separated by spaces: My name is Rizwan
Enter strings for set 2 separated by spaces: My name is Nitish
Elements in set 1 but not in set 2: {'Rizwan'}

# 25. Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices

In [20]:
tuple1 = (1, 2, 3, 4, 5, 6, 7, 8)
start = 2  # Start index
end = 5    # End index

sub_tuple = tuple1[start:end+1]
print("Elements within range:", sub_tuple)

Elements within range: (3, 4, 5, 6)

# 26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

In [22]:
set1 = set(input("Enter characters for set 1 separated by spaces: ").split())
set2 = set(input("Enter characters for set 2 separated by spaces: ").split())

union_set = set1 | set2
print("Union of sets:", union_set)

Enter characters for set 1 separated by spaces: Syed
Enter characters for set 2 separated by spaces: Rizwan
Union of sets: {'Rizwan', 'Syed'}

# 27. Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking

In [23]:
tuple1 = (5, 10, 1, 3, 7)

max_value, min_value = max(tuple1), min(tuple1)
print("Max:", max_value, "Min:", min_value)

Max: 10 Min: 1

# 28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets

In [24]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

print("Union:", set1 | set2)
print("Intersection:", set1 & set2)
print("Difference:", set1 - set2)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

# 29. Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple

In [25]:
tuple1 = (1, 2, 3, 1, 1, 4, 5)
element = 1

count = tuple1.count(element)
print(f"Occurrences of {element}:", count)

Occurrences of 1: 3

# 30. Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets

In [26]:
set1 = set(input("Enter strings for set 1 separated by spaces: ").split())
set2 = set(input("Enter strings for set 2 separated by spaces: ").split())

sym_diff = set1 ^ set2
print("Symmetric difference:", sym_diff)

Enter strings for set 1 separated by spaces: 1 2 3 4 5 6
Enter strings for set 2 separated by spaces: 7 8 1 2 3 4 5
Symmetric difference: {'7', '6', '8'}

# 31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list

In [27]:
words = ["apple", "banana", "apple", "orange", "banana", "apple"]
word_count = {}

for word in words:
    word_count[word] = word_count.get(word, 0) + 1

print("Word frequencies:", word_count)

Word frequencies: {'apple': 3, 'banana': 2, 'orange': 1}

# 32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together

In [28]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

merged_dict = dict1.copy()
for key, value in dict2.items():
    merged_dict[key] = merged_dict.get(key, 0) + value

print("Merged dictionary:", merged_dict)

Merged dictionary: {'a': 1, 'b': 5, 'c': 4}

# 33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None

In [40]:
# Example usage
nested_dict = {'a': {'b': {'c': 42}}}
keys = ['a', 'b', 'c']

value = nested_dict
for key in keys:
    value = value.get(key, None)
    if value is None:
        break

print("Value:", value)

# Example with a non-existent key

nested_dict = {'a': {'b': {'c': 42}}}
keys = ['a', 'x', 'c']

value = nested_dict
for key in keys:
    value = value.get(key, None)
    if value is None:
        break

print("non-existent key value:", value)

Value: 42
non-existent key value: None

# 34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order

In [49]:
my_dict = {'a': 3, 'b': 1, 'c': 2}
sorted_dict = dict(sorted(my_dict.items(), key=lambda item: item[1]))

print("Sorted dictionary:", sorted_dict)

Sorted dictionary: {'b': 1, 'c': 2, 'a': 3}

# 35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

In [31]:
my_dict = {'a': 1, 'b': 2, 'c': 1}
inverted_dict = {}

for key, value in my_dict.items():
    inverted_dict.setdefault(value, []).append(key)

print("Inverted dictionary:", inverted_dict)

Inverted dictionary: {1: ['a', 'c'], 2: ['b']}